$primary: #1B4B5A;
$primary: #ff0000;
$secondary: #F4EBDB;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro;
}

.dahboard-circle {
    height: 250px;
    width: 250px;
    background-color: steelblue;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    @extend .text-white;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .input-group-text;
}

.form-submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .text-white;
    width: 100%;
}

.table-default{
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
}

.table-edit {
    @extend .btn; 
    @extend .btn-outline-primary
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 1.5em;
    border-radius: 40px;
    padding: 3px;
}

select {
    border-radius: 30px;
    word-wrap: normal;
    padding: 0px;
    text-align: center;
}

form select {
    border-radius: 0px;
    text-align: left;
}
