<!DOCTYPE html>

<html>
<head>
    <link href="~/styling/global.css" rel="stylesheet">
    <link href="~/node_modules/datatables.net-dt/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/js/global.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Piston Power</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <ul class="navbar-nav" style="margin-right: 100px;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Customer Relationship Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index">Customers</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    System Setup
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-controller="ControllerViewMapping" asp-action="Manage">Controller & View Mapping</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="">
        @RenderBody()
    </div>
    <footer class="navbar fixed-bottom bg-dark">
        <p id="footer-text" class="navbar-brand text-white" style="margin-left: 50px; font-family: Source Sans Pro;">
            Part of the RabsoInc Abacus Software Family - Copyrite
        </p>
    </footer>
</body>
</html>
<script>
    $(document).ready(function() {
        appendCurrentYear("footer-text");
    });
</script>